.bfs-button.ant-btn {
    border-radius: 3px;
    line-height: 1;
}

.bfs-button.ant-btn-default {
    padding: 2px 12px;
    height: 24px;
}

.bfs-button.ant-btn-sm {
    padding: 0px 8px;
    height: 20px;
}

.bfs-button.ant-btn-lg {
    padding: 8px 16px;
    height: 36px;
}

.bfs-button--primary.ant-btn {
    border: 1px solid #28A0CE;
    background-color: #28A0CE;
    color: white;
}

.bfs-button--primary.ant-btn:hover {
    border: 1px solid #38B0DE;
    background-color: #38B0DE;
    color: white;
}

.bfs-button--primary.ant-btn:focus {
    border: 1px solid #38B0DE;
    background-color: #38B0DE;
    color: white;
}

.bfs-button--primary.ant-btn:active {
    border: 1px solid #174488;
    background-color: #174488;
    color: white;
}

.bfs-button--warning.ant-btn {
    border: 1px solid #FFB121;
    background-color: #FFB121;
    color: #0E1E25;
}

.bfs-button--warning.ant-btn:hover {
    border: 1px solid #FFB121;
    background-color: #FFC131;
    color: #0E1E25;
}

.bfs-button--warning.ant-btn:focus {
    border: 1px solid #FFB121;
    background-color: #FFC131;
    color: #0E1E25;
}

.bfs-button--warning.ant-btn:active {
    border: 1px solid #FFB121;
    background-color: #EFA111;
    color: #0E1E25;
}

.bfs-button--danger.ant-btn {
    border: 1px solid #F67C6B;
    background-color: #F67C6B;
    color: white;
}

.bfs-button--danger.ant-btn:hover {
    border: 1px solid #F67C6B;
    background-color: #FF8C7B;
    color: white;
}

.bfs-button--danger.ant-btn:focus {
    border: 1px solid #F67C6B;
    background-color: #FF8C7B;
    color: white;
}

.bfs-button--danger.ant-btn:active {
    border: 1px solid #F67C6B;
    background-color: #E66C5B;
    color: white;
}

.bfs-button--subtle.ant-btn {
    border: 1px solid #95A5AC;
    background-color: white;
    color: #95A5AC;
}

.bfs-button--subtle.ant-btn:hover {
    border: 1px solid #95A5AC;
    background-color: #E0E0E0;
    color: #95A5AC;
}

.bfs-button--subtle.ant-btn:focus {
    border: 1px solid #95A5AC;
    background-color: #E0E0E0;
    color: #95A5AC;
}

.bfs-button--subtle.ant-btn:active {
    border: 1px solid #F0F0F0;
    background-color: #F0F0F0;
    color: #95A5AC;
}

.bfs-button--link.ant-btn {
    border: 1px solid transparent;
    background: none;
    color: #28A0CE;
}

.bfs-button--link.ant-btn:hover {
    text-decoration: underline;
    border: 1px solid transparent;
    background: none;
    color: #28A0CE;
}

.bfs-button--link.ant-btn:focus {
    text-decoration: underline;
    border: 1px solid transparent;
    background: none;
    color: #28A0CE;
}

.bfs-button--link.ant-btn:active {
    text-decoration: none;
    border: 1px solid transparent;
    background: none;
    color: #174488;
}

.bfs-button {

    &.ant-btn[disabled], &.ant-btn[disabled]:hover, &.ant-btn[disabled]:focus, &.ant-btn[disabled]:active {
        color: rgba(0, 0, 0, 0.25);
        border-color: #d9d9d9;
        background: #f5f5f5;
        text-shadow: none;
        box-shadow: none;
    }
}