.bfs-fullcalendar-wrapper {

    .fc {
        line-height: 12px !important;
        height: 100%;
        max-height: 100%;

        .fc-toolbar {
            &.fc-header-toolbar {
                margin-bottom: 0;
            }
        }

        .fc-toolbar-chunk {
            display: flex;
            align-items: center;

            .fc-button-primary {
                color: #3C4043;
                border: 1px solid #DADCE0;
                background-color: white;
            }

            .fc-button:active, .fc-button:focus, .fc-button-primary:active, .fc-button-primary:focus {
                box-shadow: none;
            }

            .fc-button:focus, .fc-button-primary:focus {
                background-color: #3C4043;
                color: white;
            }

            .fc-toolbar-title {
                color: #3C4043;
                font-size: 22px;
                font-weight: 400;
                white-space: nowrap;
            }

            .fc-prev-button, .fc-next-button {
                border: none;
                padding: 0.3em 0.65em 0.4em;
            }

            .fc-today-button {
                margin: 7px 12px 5px;
                font-weight: 500;
                letter-spacing: 0.25px;
            }
        }

        .fc-scrollgrid.fc-scrollgrid-liquid {
            border: none;
        }
        
        .bfs-fullcalendar-allday-label {
            font-size: 10px;
            color: #70757A;
            white-space: nowrap;
            -webkit-font-smoothing: subpixel-antialiased;
        }
        
        .bfs-fullcalendar-timeslot-label {
            font-size: 10px;
            color: #70757A;
            white-space: nowrap;
            -webkit-font-smoothing: subpixel-antialiased;
        }
        
        .fc-timegrid-axis {
            border: none !important;
        }

        .fc-timegrid-slot {
            height: 12px;
        }
        
        .fc-timegrid-slot-minor {
            border: none !important;
            padding: 0 !important;
            background: none !important;
        }
        
        .fc-timegrid-divider {
            display: none;
        }
        
        .fc-day-today {
            background: none !important;
        }
        
        .fc-col-header-cell.fc-day {
            border: none;
        
            .bfs-fullcalendar-header {
                margin: 0;
                text-align: center;
                width: 100%;
            
                .bfs-fullcalendar-header-weekday {
                    line-height: 32px;
                    position: relative;
                    z-index: 5;
                    color: #70757a;
                    font-size: 11px;
                    font-weight: 500;
                    letter-spacing: 0.8px;
                    margin-top: 8px;
                    text-indent: 0.8px;
                    text-transform: uppercase;
                }
            
                .bfs-fullcalendar-header-date {
                    cursor: pointer;
                    position: relative;
                    outline: none;
                    z-index: 5;
                    font-size: 26px;
                    font-weight: 400;
                    letter-spacing: -2.6px;
                    text-indent: -2.6px;
                    font-variant-numeric: tabular-nums;
                    font-feature-settings: "tnum" 1;
                    border-radius: 100%;
                    line-height: 46px;
                    height: 46px;
                    margin: -8px auto 0px auto;
                    width: 46px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }
        }
    }
}

