.ant-table {

    .ant-table-container {

        .ant-table-content {

            table {

                thead.ant-table-thead {

                    tr {

                        th.ant-table-cell {
                            color: #0E1E25;
                            background-color: #F3FAFF;
                            border: none;
                            font-size: 16px;
                            line-height: 23px;
                            font-weight: 400;
                            padding: 11px 16px;
                        }

                        th.ant-table-cell::before {
                            content: none;
                        }
                    }
                }

                tbody.ant-table-tbody {

                    tr.ant-table-row:nth-child(even) {
                        background-color: #F3FAFF;

                        td.ant-table-cell-fix-left, td.ant-table-cell-fix-right {
                            background-color: #F3FAFF;
                        }

                        td.ant-table-cell-fix-left.ant-table-cell-row-hover, td.ant-table-cell-fix-right.ant-table-cell-row-hover {
                            background-color: #FAFAFA;
                        }
                    }

                    tr.ant-table-row {

                        td.ant-table-cell {
                            border: none;
                        }
                    }
                }
            }
        }
    }
}

.ant-pagination.ant-table-pagination {

    .ant-pagination-item, .ant-pagination-jump-prev, .ant-pagination-jump-next {
        display: none;
    }
}