.bfs-fullcalendar-control-panel {
    color: #3C4043;
    background-color: white;

    .bfs-calendar-selector-label {
        font-size: 14px;
        font-weight: 500;
        letter-spacing: .25px;
        line-height: 20px;
        padding-bottom: 8px;
    }

    .ant-checkbox:hover::after,
    .ant-checkbox-wrapper:hover .ant-checkbox::after {
        visibility: hidden;
    }

    .ant-checkbox-wrapper {
        color: #3C4043;
        line-height: 16px;
        padding: 6px 0px;

        &.bfs-calendar-selector {
            padding-right: 12px;

            .bfs-calendar-selector-item-label {
                white-space: nowrap;
            }
        }

        &.bfs-calendar-selector-phone {

            .ant-checkbox-checked {

                .ant-checkbox-inner {
                    background-color: #33B679;
                    border: 2px solid #33B679;
                }
            }

            .ant-checkbox-inner {
                border: 2px solid #33B679;
            }
        }

        &.bfs-calendar-selector-technical {

            .ant-checkbox-checked {

                .ant-checkbox-inner {
                    background-color: #039BE5;
                    border: 2px solid #039BE5;
                }
            }

            .ant-checkbox-inner {
                border: 2px solid #039BE5;
            }
        }

        &.bfs-calendar-selector-manager {

            .ant-checkbox-checked {

                .ant-checkbox-inner {
                    background-color: #FFB121;
                    border: 2px solid #FFB121;
                }
            }

            .ant-checkbox-inner {
                border: 2px solid #FFB121;
            }
        }

        .ant-checkbox {
            outline: none;

            &.ant-checkbox-checked {

                .ant-checkbox-inner::after {
                    transform: rotate(45deg) scale(1) translate(-50%, -51%) scale(1.3);
                }
            }

            .ant-checkbox-inner {
                width: 18px;
                height: 18px;
                border-width: 2px;
            }
        }
    }
}