.bfs-calendar-wrapper {

    .bfs-calendar-header {
        display: flex;
        align-items: center;
        padding-bottom: 24px;
    
        .bfs-calendar-header-month {
            font-size: 15px;
            width: 130px;
        }
    
        .bfs-calendar-header-action {
            padding-left: 50px;
            width: 100px;
            font-size: 20px;
            display: flex;
            justify-content: space-between;
    
            .bfs-calendar-header-action-prev {
                cursor: pointer;
            }
    
            .bfs-calendar-header-action-next {
                cursor: pointer;
            }
        }
    }
    
    .bfs-calendar-weekday {
        font-size: 12px;
        font-weight: 400;
        color: #4A585F;
    }
    
    .bfs-calendar-date {
        font-size: 20px;
        font-weight: 400;
        color: #0E1E25;
    }
    
    .bfs-calendar-table-header {
        width: 150px;
    }
    
    .bfs-calendar-table-cell {
        width: 150px;
    }
}
